nav {
  background-color: #435D7D;
  margin: 0 5%;
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 10px 15px;
  font-family: 'Varela Round', sans-serif;
}

nav h2 {
  color: white;
  font-weight: 400;
}

nav h2 span {
  font-weight: 600;
}

nav button {
  background-color: #58b658;
  width: 180px;
  height: 40px;
  font-family: 'Varela Round', sans-serif;
  color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
}

.createNewEmployee {
  width: 200px;
  height: auto;
}

.nomostrar {
  display: none;
}

#modal {
  width: 400px;
  height: 450px;
  position: fixed;
  top: 50px;
  left: 550px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: white;
  font-family: 'Varela Round', sans-serif;
  color: #575656;
  font-size: 15px;
}

#modal h6 {
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 5px;
  padding-left: 20px;
}

#modal hr {
  border-top: 0.3px solid grey;
}

#modal form {
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
}

#modal form input {
  width: 350px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#modal .div-button {
  background-color: #ecf8fd;
  height: 80px;
  width: 100%;
}

#modal .div-button button {
  margin-top: 20px;
  width: 80px;
  height: 30px;
}

#modal .div-button #cancel {
  margin-left: 190px;
  font-family: 'Varela Round', sans-serif;
  color: #575656;
  background-color: white;
  border: 0.5px solid grey;
  border-radius: 3%;
}

#modal .div-button #createNewEmployee, #modal .div-button #edit {
  margin-left: 10px;
  background-color: #58b658;
  font-family: 'Varela Round', sans-serif;
  color: white;
  border: none;
  border-radius: 3%;
}

section {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section form input {
  width: 350px;
  height: 30px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid grey;
}

section .main {
  margin: 25px 100px;
  font-family: 'Varela Round', sans-serif;
}

section .main table {
  border-bottom: 1px solid #ddd;
  width: 100%;
}

section .main table thead {
  height: 100px;
}

section .main table thead .large th {
  width: 200px;
  height: 50px;
  text-align: left;
  vertical-align: center;
  border-bottom: 1px solid #ddd;
}

section .main table tbody tr {
  height: 50px;
}

section .main table tbody tr td {
  width: 200px;
  vertical-align: center;
}

section .main table tbody .small {
  height: 30px;
}

section .main .actions .fa-edit {
  color: #0c700c;
  width: 50px;
}

section .main .actions .fa-trash {
  color: #c51d1d;
  width: 50px;
}
/*# sourceMappingURL=style.css.map */